<div>
    <div class="card" color="Color.Primary" style="height:9rem; border:none">
        <div class="card-body">
            <h6>@Type: <b>@Title</b></h6>

            @if (!string.IsNullOrWhiteSpace(Entity.CreatedBy))
            {
                <p style="font-size: smaller; font-stretch: condensed; margin-top: 0; margin-bottom: 0;">Criado em @Entity.Created por @Entity.CreatedBy</p>
            }
            else
            {
                <p style="font-size: smaller; font-stretch: condensed; margin-top: 0; margin-bottom: 0;">Criado em @Entity.Created</p>
            }

            @if (Entity.LastModified is not null && !string.IsNullOrWhiteSpace(Entity.LastModifiedBy))
            {
                <p style="font-size: smaller; font-stretch: condensed; margin-top: 0; margin-bottom: 0;">Modificado em @Entity.LastModified por @Entity.LastModifiedBy</p>
            }
            else if (Entity.LastModified is not null)
            {
                <p style="font-size: smaller; font-stretch: condensed; margin-top: 0; margin-bottom: 0;">Modificado em @Entity.Created</p>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Type { get; set; } = null!;
    [Parameter]
    public string Title { get; set; } = null!;
    [Parameter]
    public Entity Entity { get; set; } = null!;
}
